/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Raleway;
  text-align: center;
}
h1{
  font-family: courier;
  color: red;
  font-weight: bold;
  font-size: 50px;
}
h2 {
  font-family: Courier;
  color: black;
  font-weight: bold;
  font-size: 50px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: red; 
}
#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 2px 2px 6px black;
}
#banner h1 {
  color: black;
  font-size: 50px;
}
#banner p {
  color: black;
  opacity: 0.8;
  font-size: 30px;
  font-weight: bolder;
}
#footer{
  padding: 20px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 20px;
  font-weight: lighter;
}